* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 5rem 2rem 5rem;
}

h1 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

.intro-calculator {
  font-size: 26px;
}

.wrapper {
  display: flex;
  margin-top: 2rem;
}

.main-container {
  width: 76%;
  margin: auto;
  margin-right: 0;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, minmax(1em, 1fr));
  grid-template-rows: repeat(6, minmax(1em, 1fr));
  grid-template-areas:
    'output output output output'
    'clear plusminus modulus division'
    'seven eight nine multiplyy'
    'four five six minus'
    'one two three addition'
    'zeroo zeroo period equal';
}

.pagenotfound {
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
}

.quote {
  width: 80%;
  padding-top: 4rem;
  margin: auto;
  text-align: center;
}

.orange {
  background-color: #f5913e;
}

.main-container > div {
  display: flex;
  border: 1px solid gray;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.main-container > div:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(159, 149, 144);
}

.screen {
  display: grid;
  grid-area: input;
  width: 100%;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: white;
}

input[type='text'] {
  outline: none;
}

input[type='number'] {
  outline: #f5913e;
}

input[type='number'],
input[type='text'] {
  grid-area: input;
  width: 100%;
  height: 100%;
  cursor: default;
  border: none;
  grid-column: span 4;
  text-align: end;
  padding: 0.5rem;
  color: white;
  background-color: gray;
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']:hover {
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: salmon;
}

.result {
  flex-direction: column;
  width: 100%;
  grid-area: output;
}

.align-center {
  text-align: center;
}

.zero {
  grid-area: zeroo;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multiply {
  grid-area: multiplyy;
  background-color: #f5913e;
}

.addition {
  grid-area: addition;
  background-color: #f5913e;
}

.subtraction {
  grid-area: minus;
  background-color: #f5913e;
}

.division {
  grid-area: division;
  background-color: #f5913e;
}

.clear {
  grid-area: clear;
}

.plus-minus {
  grid-area: plusminus;
}

.modulus {
  grid-area: modulus;
}

.equal {
  grid-area: equal;
  background-color: #f5913e;
}

.decimal {
  grid-area: period;
}
